# Dependencies
node_modules/
.pub-cache/
.pub/

# Build
dist/
build/
*.js.map

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Logs
*.log

# Misc
*.class
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
